body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#item{
  font-size: 23px;
  display: inline-block;
}
.completed {
  text-decoration: line-through;
}
ul {
  list-style-type: none;
  padding: 0;
}

.container.main-container {
  position: fixed;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.ToDos{
  margin: 8px;

}

.ui.violet.inverted.button{
  margin: 5px;
}
.ui.input{
  margin: 5px;
}

.todo-text {
  font-size: 20px;
  display: inline-block;

}
.Button {
    display: inline-block;
}
/*.ui.small.circular.icon.positive.button{
  display: inline-block;


}*/

/*.left {
  float: left;
  width: 125px;
  text-align: right;
  margin: 2px 10px;
  display: inline;
}

.right {
  float: left;
  text-align: left;
  margin: 2px 10px;
  display: inline;
}*/
