body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #c2f0f0;
}
.toDoItem{
  font-size: 23px;
  display: inline-block;
}

.completed {
  text-decoration: line-through;
  display: inline-block;
  font-size: 23px;

}
ul {
  list-style-type: none;
  padding: 0;
}

.container.main-container {
  position: fixed;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.ToDos{
  margin: 8px;
  position:fixed;
  text-align: center;
  width: 100%;
}

.ui.violet.inverted.button{
  margin: 5px;
}
.ui.input{
  margin: 5px;
}

.todo-text {
  font-size: 20px;
  display: inline-block;

}
.Button {
    display: inline-block;
}
